.confirm__content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1230px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: serif;
    color: #887766;
}

.form {
    margin: 0 auto;
    width: 60%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    text-align: left;
    padding: 15px;
    width: 30%;
    border-bottom: 1px solid #ffffff;
    background-color: #b69f89;
    color: #fff;
    font-size: 11px;
}

.confirm-table__text {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #b69f89;
}

.confirm-table__text input {
    width: 70%;
    outline: none;
    border: none;
    color: #887766;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #887766;
    color: #fff;
    cursor: pointer;
}