.admin__button-submit {
    display: inline-block;
    background-color: rgb(242, 241, 241);
    border: 1px solid rgba(137, 104, 71, 0.4);
    color: rgba(137, 104, 71, 0.4);
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 1px;
    font-size: 16px;
    font-family: serif;
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 20px;
    text-align: center;
    font-family: serif;
    color: #887766;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
}

.form__label--item {
    color: #887766;
}

.form__label--required {
    padding: 0px 0px;
    border-radius: 3px;
    background: #fafafa;
    color: #ff0000;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--tel input,
.form__input--text input,
.form__input--select input,
.form__input--textarea textarea {
    margin: 0px;
    padding: 10px;
    width: 600px;
    height: 35px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    appearance: none;
    background-color: #f2f2f2;
    font-size: 10px;
    color: #887766;
}

.form__input--name input {
    flex: 1;
    margin: 10px;
    padding: 10px;
    width: 286px;
    height: 35px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    appearance: none;
    background-color: #f2f2f2;
    font-size: 10px;
    color: #887766;
}
.form__input--tel input {
    flex: 1;
    margin: 10px;
    padding: 10px;
    width: 171px;
    height: 35px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    appearance: none;
    background-color: #f2f2f2;
    font-size: 10px;
    color: #887766;
}
.form__input--textarea textarea {
    height: 180px;
}
.form__input--radio {
    border-radius: 3px;
    color: #887766;
}

.form__button-submit {
    padding: 10px;
    width: 15%;
    height: 35px;
    border: none;
    border-radius: 1px;
    background: #887766;
    color: #fff;
    cursor: pointer;
}